html {
  font-size: 62.5%;
}

body {
  color: #8C9099;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
}


.backgroud-fixed {
  background-attachment: fixed;
  background-color: #0F1923;
  background-size: cover;
  height: 100vh;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.container {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.active {
  background-color: #fff;
  color: #fff;

}