html {
  font-size: 62.5%;
}

body {
  background-color: #0F1923;
  color: #8C9099;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
}

main {
  /* background-color: red; */
  width: 55%;
  max-width: 116rem;

}

.active {
  background-color: #fff;
  color: #fff;

}

@media(max-width:2000px) {
  main {
    right: 33rem;
  }
}