.header {
  align-items: center;
  background-color: #0F1923;
  border-bottom: .1rem solid #37404A;
  display: flex;
  height: 7rem;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  z-index: 10;
  padding-top: 2rem;
}

.logo {
  display: flex;
  padding-bottom: 1rem;
}

.icon-resp {
  background-color: #37404A;
  background-size: 100%;
  background-image: url('../../assets/nav/logo-icon.de8b3b08.svg') no-repeat;
  cursor: pointer;
}

.link-icon {
  background-color: #37404A;
  background-position: center;
  background-size: 100%;
  background: url(../../assets/nav/logo-blaze.svg) no-repeat;
  cursor: pointer;
  display: inline-block;
  height: 4rem;
  width: 11.2rem;
}


.tres-barras {
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1.8rem;
  padding: 1.3rem;
}

.tres-barras:hover {
  background-color: #37404A;
}

.header-lista-item {
  align-items: center;
  display: flex;
}

.lista-item {
  cursor: pointer;
}

.lista-item-texto {
  border-bottom: .4rem solid #353E4C;
  color: #B0B4BD;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-right: 3rem;
  padding-bottom: .9rem;
}

.lista-item-texto:hover {
  color: #818790;
}

.fa-envelope {
  margin-right: 1.8rem;
}

.fa-envelope,
.fa-user {
  width: 2.4rem;
  color: #fff;
}

.lista-item-coin {
  border-radius: .4rem;
  border: .1rem solid #37404A;
  color: #fff;
  font-size: 1.4rem;
  margin-left: 3rem;
  padding: 1.2rem 1.4rem;
}

.item-coin-detail {
  position: relative;
  margin-left: .2rem;
  top: .3rem;
}

.item-texto-detail {
  margin-left: 2rem;
}

.item-coin-detail {
  width: 1.8rem;
}

.depositar {
  background-color: #F12C4C;
  border-radius: .4rem;
  color: #FDDCE1;
  cursor: pointer;
  font-weight: 700;
  margin-left: 2.2rem;
  padding: 1.2rem 1.4rem;
  position: relative;
  text-transform: capitalize;
  transition: .4s;
}

.depositar:hover {
  background-color: #B6243B;
}

.header-lateral {
  position: fixed;
  left: 0;
}

.subtipo {
  display: flex;
}

.subtipo-item-container {
  align-items: center;
  cursor: pointer;
  display: flex;
  height: 7rem;
  justify-content: space-around;
  transition: .5s;
  width: 12rem;
  border-bottom: .2rem solid #37404A;
}

.subtipo-item-container:hover {
  border-bottom: .2rem solid #FF2E51;
}


.fa-chess-board:hover {
  color: #fff;

}

.fa-basketball:hover {
  color: #fff;
}

.subtipo-txt:hover {
  color: #fff;
}

@media (max-width:1350px) {
  .header-lateral {
    display: none;
  }

  .header {
    padding: 0 2rem 0 2rem;
    justify-content: space-between;
  }

  .link-icon {
    background: url(../../assets/img/logo-icon-resp.svg) no-repeat;
    width: 2.7rem;

  }
}

@media(max-width:1400px) {
  .tres-barras {
    display: none;
  }

  .header {
    justify-content: space-between;
  }

  .logo {
    right: 0rem;
  }

  .lista-item-texto {
    display: none;
  }

  .icon-list-item .fa-envelope {
    display: none;
  }

  .flex-grow {
    flex-grow: 1;
    order: 2;
  }

  .fa-user {
    position: relative;
    left: .5rem;
  }

  .icon-list-item {
    padding: 1.3rem;
    margin-right: 1.6rem;
    margin-left: 1.6rem;
    border: .1rem solid #37404A;
    border-radius: .4rem;
  }

  .subtipo {
    display: none;
  }

  .header-lateral {
    display: none;
  }
}

@media (max-width:391px) {
  .lista-item-coin {
    margin-left: 0;
  }

}

@media (max-width:330px) {

  .icon-list-item,
  .depositar {
    position: relative;
    right: -3rem;
    margin-left: .5rem;
  }

  .depositar {
    margin-right: 0;
    padding: 1rem 0.9rem;
  }

  .lista-item-coin {
    align-items: center;
    display: flex;
  }
}