.controls-slider {
  display: flex;
  position: absolute;
  bottom: 2rem;
  left: 30rem;
}

.controls-slider-item {
  background: none;
  color: rgba(255, 255, 255, 0.4);
  margin: 0 .8rem;
  font-size: .9rem;
}


.controls-slider-item .active {
  color: #fff;
  border-radius: 50%;
}