.main-subtipos-list {
  margin-top: 2.5rem;
  display: flex;
  width: 100%;
  white-space: nowrap;

}

.main-subtipos-list>button {
  margin-right: 2rem;
  background-color: #1A242D;
  color: #fff;
  padding: 1.5rem;
  border-radius: 1rem;
  text-transform: capitalize;
  cursor: pointer;

}

.buttonClicked {
  background-color: #F12C4C !important;
}

@media (max-width:1000px) {
  .main-subtipos-list {
    overflow-x: auto;
  }
}