.wrapper {
  display: flex;
}

.carrosel {
  margin-top: 14.4rem;
  display: flex;
  width: 1050px;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius: 4px;

}

.carrosel img {
  height: 32rem;
  width: 100%;
  object-fit: cover;
  min-width: 1055.5px;
}

.carrosel.dragging {
  cursor: grab;
  scroll-behavior: auto;
}

.carrosel.dragging img {
  pointer-events: none;
}

@media screen and (max-width: 1350px) {
  main {
    padding: 0 2rem 0 2rem;
    width: 100%;
  }

  .carrosel {
    width: 1275px;
    overflow-x: auto;
  }

  .carrosel img {
    min-width: 1275px;
    width: 100%;
  }
}