.banner {
  display: flex;
  position: absolute;
  align-items: center;
  left: 53rem;
  top: 14rem;
}

.banner-slide-item {
  width: 56vw;
}

.banner-slide-cover {
  width: 100%;
}

.banner-slide .controls-slider {
  bottom: 2rem;
  right: 50rem;
}