.banner {
  display: flex;
  position: relative;
  width: 100%;
  /* margin-left: 20rem; */
  margin-top: 13rem;
  transition: transform .5s ease-in-out;
  transform: translateX(0);

}

.banner-slide {
  overflow: hidden;
}

.banner-slide-item {
  width: 100%;
  display: flex;

}

.banner-slide-item img {
  width: 100%;
}

.banner-slide-cover {
  object-fit: cover;
  width: 100%;
  display: flex;
  flex-shrink: 0;
  border-radius: .4rem;
}

.banner-slide .controls-slider {
  bottom: 2rem;
  right: 50rem;
}